body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #333;
    position: fixed;
    width: 100vw;
    height: 4rem;
}

main {
    background-image: url("/static/sunset.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

section.main {
    /* flex-grow: 1; */
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    width: 1200px;
    max-width: 70vw;
    /* margin: 0 auto; */
}

.transparent {
    background: transparent!important;
}

.things {
    background-color: rgba(255, 168, 168, 0.5);
}

.thing-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-end;
    padding-bottom: 1rem;
}

.thing img {
    max-width: 100%;
}

.thing h3 {
    text-align: center;
}

h1, h2, h3, p {
    margin: 0.5rem 0;
    padding: 0.5rem;
}

footer {
    min-height: 10rem;
    background-color: #666;
    color: #fee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .container {
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}